<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<body class="container">
<div align="center">
<h1 th:text="${title}">Cafeteria Inventory</h1>

    <div align="center">

    <a href="/product">Product list</a> |
    <a href="/countSheet">Update Count Sheet</a>

   </div>
    <form method="get" action="/currentInventory"  >
        <table border="0" cellpadding="10">
            <thead>
            <tr>
                <th>Product Number</th>
                <th>Name</th>
                <th>Inventory Date</th>
                <th>Count</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="countSheet : ${allCurrentCountSheets}">

                <td th:text="${countSheet.productId}"></td>
                <td th:text="${countSheet.getProduct().getName()}"></td>
                <td th:text="${countSheet.getInvDate()}"></td>
                <td th:text="${countSheet.getCount()}"></td>
            </tr>
            </tbody>
        </table>

    </form>
</div>
</body>
</html>